body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.topo {
    height: 30px;
    background-color: rgb(36, 36, 36);
}

.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    background-color: tomato;
    margin: auto;
}

.topoleft{
    width: 50%;
    height: 30px;
    float: left;
}

.toporight{
    width: 50%;
    height: 30px;
    float: right;
}

.topoleft ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.topoleft li{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}

.topoleft li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.topocenter{
    width: 100%;
    max-width: 1040px;
    height: 100px;
    margin: auto;
}

.centerleft img{
    width: 20%;
    float: left;
    padding: 15;
}

.centerright{
    background-color: tomato;
    height: 87px;
    width: 600px;
    float: right;
    margin: 6;
    border-radius: 10px;
}

.centerright h1{
    padding-top: 10;
    color: rgb(255, 255, 255);
    text-align: center;
}

.ultimasnoticias{
    height: 40px;
}
.ultimasnoticiasint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
    height: 40px;
}

.ultnoticiasarea{
    height: 28px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    margin-top: 10px;
}
.ultnoticiastitulo{
    background-color: tomato;
    color: aliceblue;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.ultnoticiasnoticia{
    color: black;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 10px;
}

.containerint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
}

.leftside{
    width: 753px;
    min-height: 200px;
    float: left;
}

.slider{
    width: 753px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.slides{
    width: 753px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 753px;
    position: relative;
}

.slide img{
    width: 753px;
}

.manual-navigation{
    position: absolute;
    width: 753px;
    margin-top: 380;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

.navigation-auto div{
    border: 2px solid tomato;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 753px;
    margin-top: 380;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: tomato;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: tomato;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: tomato;
}

.rightside{
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}

.widget{
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10PX;
}

.widget_titulo{
    height: 30px;
    line-height: 30px;
    background-color: #DDD;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
    font-size: 14px;
}

.widget_conteudo{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.noticia_item{
    margin:0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.noticia_item a{
    text-decoration: none;
    color: black;
}

.noticiaare1{
    width: 430px;
    height: 420px;
    float: left;
}

.noticiaarea2{
    width: 320px;
    height: 420px;
    float: left;
}

.noticiaimg{
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    padding: 3px;
    float: left;
}

.noticiatitulo{
    text-align: left;
    float: left;
    margin-left: 6px;
    font-size: 16px;
}

.noticiainfo{
    height: 88px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 234px;
    font-size: 11px;
    margin-left: 6px;
    color: #ccc;
}

.noticiaimg{
    margin-left: 10px;
}

.noticiaimg_big{
    width: 384px;
    height: 222px;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 3px;
}

.noticiatitulo_big{
    width: 384px;
    text-align: left;
    float: left;
    font-size: 50px;
    margin-left: 20px;
    width: 384px;
}

.noticiainfo_big{
    font-size: 11px;
    font-size: 16px;
    float: left;
    margin-left: 20;
    color: #ccc;
}

@media screen and (max-width:1056px){
    .centerright{
        display: none;
    }

    .leftside{
        float: none;
        width: 755px;
        margin: auto;
    }

    .rightside{
        width: 755px;
        float: none;
        margin: auto;
    }

    .ultnoticiasarea{
        height: 28px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #ccc;
        margin-top: 10px;
    }
    .ultnoticiastitulo{
        background-color: tomato;
        color: aliceblue;
        height: 28px;
        text-align: center;
        width: 100%;
        float: none;
        margin: auto;
    }

    .ultnoticiasnoticia{
        display: none;
    }
    
    .topocenter{
        text-align: center;
        margin: auto;
    }
    
    .centerleft img{
        float: none;
        margin: auto;
    }

}

@media screen and (max-width:412px){
    .centerright{
        display: none;
    }

    .leftside{
        float: none;
        width: auto;
        margin: auto;
    }

    .rightside{
        width: auto;
        float: none;
        margin: auto;
    }

    .ultnoticiasarea{
        height: 28px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #ccc;
        margin-top: 10px;
    }
    .ultnoticiastitulo{
        background-color: tomato;
        color: aliceblue;
        height: 28px;
        text-align: center;
        float: none;
        margin: auto;
    }

    .ultnoticiasnoticia{
        display: none;
    }
    
    .topocenter{
        text-align: center;
        margin: auto;
    }
    
    .centerleft img{
        float: none;
        margin: auto;
        width: 200px;
    }

    .noticiaimg_big{
        float: left;
        margin-left: 7px;
        text-align: center;
    }
    
    .noticiatitulo_big{
        float: none;
        margin: auto;
        font-size: 50px;
    }
    
    .noticiainfo_big{
        font-size: 11px;
        font-size: 16px;
        float: none;
        margin: auto;
        color: #ccc;
    }

    .topoint{
        width: 100%;
        max-width: 1040px;
        height: 30px;
        background-color: tomato;
        margin: auto;
    }
    
    .topoleft{
        width: auto;
        height: 30px;
        float: none;
    }

    .slider{
        width: 400px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .slides{
        width: auto;
        display: flex;
    }
    
    .slides input{
        display: none;
    }
    
    .slide{
        width: auto;
        position: relative;
    }
    
    .slide img{
        width: 400px;
    }

    .manual-navigation{
        position: absolute;
        width: 412px;
        margin-top: 200;
        display: flex;
        justify-content: center;
    }
    
    .manual-btn{
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .manual-btn:not(:last-child){
        margin-right: 10px;
    }
    
    .manual-btn:hover{
        background-color: #fff;
    }
    
    .navigation-auto div{
        
        border: 2px solid tomato;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .navigation-auto{
        position: absolute;
        width: 412px;
        margin-top: 200;
        display: flex;
        justify-content: center;
    }
    
}